/* ========== reset ========== */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

/* ========== global ========== */
:root {
  --red: #db504a;
  --l-red: #ff6f59;
  --slate: #274049;
  --bone: #d3d2c5;
  --acc: #43aa8b; 
}

body {
    height: 100%;
    background-color: var(--slate);
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: url("./img/background.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/* ========== header ========== */
header {
    text-align: center;
    background-color: #27404988;
    backdrop-filter: blur(10px);
}

h1 {
    padding-top: 40px;
    font-family: "Alex Brush", cursive;
    font-size: 66px;
    color: var(--bone);
    text-shadow: 3px 3px 6px var(--slate);
}

header button {
    background-color: #00000000;
    border: 6px solid #00000000;
    padding: 10px;
    margin: 10px;
    color: var(--bone);
    text-shadow: 3px 3px 6px var(--slate);
}

header button:hover {
    border-bottom: 6px solid var(--acc);
    color: var(--acc);
}

#content {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========== home page ========== */
.homePage {
  width: 80%;
}

.homePage .rowOne,
.homePage .rowTwo {
  background-color: #d3d2c5aa;
  backdrop-filter: blur(10px);
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 6px solid var(--red);
  border-right: 3px solid var(--l-red);
  box-shadow: 3px 5px 10px var(--l-red);
}

.homePage .imgOne {
  width: 450px;
  height: 350px;
  background-image: url("./img/orderup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.homePage .imgTwo {
  width: 450px;
  height: 350px;
  background-image: url("./img/dining.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.textOne {
  padding: 4px 20px;
  width: 600px;
  min-width: 300px;
  flex-shrink: 2;
  margin-left: 20px;
}

.textTwo {
  padding: 4px 20px;
  max-width: 700px;
  text-align: center;
  flex: 1;
}

.homePage h2,
.menuPage h2,
.aboutPage h2 {
  margin: 10px 0px;
  font-family: "Norican", cursive;
  font-weight: lighter;
  font-size: 34px;
}

.homePage h3 {
  margin-top: 10px;
}

/* ========== menu page ========== */
.menuPage {
  width: 80%;
  background-color: #d3d2c5aa;
  backdrop-filter: blur(10px);
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  border-bottom: 6px solid var(--red);
  border-right: 3px solid var(--l-red);
  box-shadow: 3px 5px 10px var(--l-red);
}

.menuPage .menuRow {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr;
  padding: 10px 0px;
  border-top: 1px solid var(--red);
}

.menuPage h2 {
  text-align: center;
}

/* ========== about page ========== */
.aboutPage {
  width: 80%;
}

.aboutPage .rowOne,
.aboutPage .rowTwo {
  background-color: #d3d2c5aa;
  backdrop-filter: blur(10px);
  margin: 40px;
  padding: 20px;
  border-radius: 15px;
  border-bottom: 6px solid var(--red);
  border-right: 3px solid var(--l-red);
  box-shadow: 3px 5px 10px var(--l-red);
}

.aboutPage .rowOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutPage .rowTwo {
  text-align: center;
  padding: 50px;
}

.aboutPage .imgOne {
  width: 450px;
  height: 350px;
  background-image: url("./img/dough.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
